*,
::before,
::after {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  --white: #f0f0f0;
  --red: #be3144;
  --blue: #45567d;
  --gray: #303841;
}

:root {
  font-size: 62.5%;
}

.center {
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Poppins, sans-serif;
  padding-top: 70px;
  overflow-x: hidden;
  color: var(--white);
}

header {
  width: 100%;
  height: 70px;
  background-color: var(--red);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
}

#navbar {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

.nav-link {
  font-size: 2.2rem;
  width: 33.3%;
  padding-top: 4%;
  text-align: center;
  color: white;
}

.nav-link:hover {
  background-color: var(--blue);
}

#welcome-section {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  width: 100vw;
  height: 100vh;
  padding-top: 30vh;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--red);
}

#project-section {
  width: 100%;
  background-color: var(--blue);
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.project-title {
  font-size: 4.2rem;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 50%;
  border-bottom: 2px solid;
  margin: 0 auto 55px auto;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1300px;
  max-height: 2280px;
  margin: 0 auto;
}

.project-card {
  color: white;
}

.project-image {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.project-image:nth-of-type(2),
.project-image:nth-of-type(4) {
  height: 70%;
}

.project-card p {
  font-size: 2rem;
  text-align: center;
  background-color: var(--gray);
  height: 15%;
  padding-top: 15px;
  margin-top: -5px;
}

.project-card p:nth-of-type(2),
.project-card p:nth-of-type(4) {
  height: 30%;
}

span {
  color: var(--gray);
}

.project-card p:hover span {
  color: #ff7f50;
  transition: color 0.5s linear;
}

#show-btn {
  color: white;
  background-color: var(--gray);
  width: 145px;
  height: 48px;
  padding: 10px 0 10px 20px;
  display: block;
  margin: 100px auto 0 auto;
  font-size: 2rem;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#show-btn:hover {
  background-color: var(--red);
  column-gap: 12px;
  transition: background-color 0.8s ease-in-out, column-gap 0.6s linear;
}

#contact-section {
  color: var(--white);
  background-color: var(--gray);
  padding: 25vh 0 0 0;
}

h3 {
  font-size: 6rem;
  font-family: Raleway, sans-serif;
  margin-bottom: 1rem;
}

.coffee-text {
  color: white;
  font-size: 1.8rem;
}

.contact-container {
  width: 80%;
  max-width: 850px;
  margin: 50px auto 120px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
}

.contact-link {
  color: var(--white);
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.contact-link:hover {
  margin-top: 20px;
  transition: margin-top 0.5s ease-in-out;
}

.line {
  border-top: 4px solid var(--red);
}

footer {
  background-color: var(--gray);
  padding: 7vh 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-evenly;
}

